.section-select {}
.section-select .list-cell {
	-fx-background-color: none;
}
.section-select .list-cell:selected {
	-fx-background-color: #0096c9;
	-fx-text-fill: white;
}

.settings-form {
	-fx-hgap: 1em;
}
.settings-form ChoiceBox {
	-fx-max-width: infinity;
}