.toolbar {
	-fx-spacing: 5;
	-fx-padding: 5;
}
.toolbar HBox {
	-fx-spacing: 5;
}
.toolbar #keyDisplay,
.toolbar #progressDisplay,
.toolbar #statusDisplay {
	-fx-min-width: 150;
}
.toolbar #statusDisplay {
	-fx-hgrow: ALWAYS;
}
.toolbar .value {
	-fx-font-weight: bold;
}

.piano-pane {
	-fx-padding: 25;
}
/* Remove white background of elements in the ScrollPane */
ScrollPane.piano-pane > .viewport {
	-fx-background-color: transparent;
}