.toolbar {
	-fx-spacing: 5;
	-fx-padding: 5;
}
#statusDisplay #progressNumeric {
	-fx-font-weight: bold;
}

.piano-pane {
	-fx-padding: 25;
}
/* Remove white background of elements in the ScrollPane */
ScrollPane.piano-pane > .viewport {
	-fx-background-color: transparent;
}