.piano-keyboard {
	wkey: #f0f0f0;
	bkey: #101010;
}

.piano-keyboard .piano-key {
	-fx-background-insets: 0;
}
.piano-keyboard .piano-key-white {
	-fx-background-color: wkey;
	-fx-background-radius: 0 0 8px 8px;
	-fx-border-color:
		derive(wkey, -50%) derive(wkey, -100%) derive(wkey, -50%) derive(wkey, 100%),
		wkey derive(wkey, -50%) derive(wkey, -25%) derive(wkey, 50%),
		wkey derive(wkey, -25%) derive(wkey, -12%) derive(wkey, 25%);
	-fx-border-width: 1px, 0 1px 1px 1px, 0 1px 1px 1px;
	-fx-border-insets: 0, 1px, 2px;
	-fx-border-radius: 0 0 8px 8px, 0 0 7px 7px, 0 0 6px 6px;
}
.piano-keyboard .piano-key-white:hover {
	-fx-background-color: derive(wkey, -10%);
}
.piano-keyboard .piano-key-black {
	-fx-background-color: linear-gradient(to bottom, bkey 90%, derive(bkey, 20%) 91%);
	-fx-background-radius: 0 0 6px 6px;
	-fx-border-color:
		derive(bkey, -100%),
		derive(bkey, 30%) derive(bkey, -100%) derive(bkey, 40%) derive(bkey, 80%),
		bkey derive(bkey, 15%) derive(bkey, 20%) derive(bkey, 40%);
	-fx-border-width: 0 3px 3px 3px, 1px, 0 2px 0 2px;
	-fx-border-insets: 0, 0 3px 3px 3px, 0 4px 7px 4px;
	-fx-border-radius: 0 0 6px 6px, 0 0 5px 5px, 0;
}
.piano-keyboard .piano-key-black:hover {
	-fx-background-color: linear-gradient(to bottom, derive(bkey, 20%) 90%, derive(bkey, 40%) 91%);
}
