.piano-keyboard {
/*	-fx-background-color: red;*/
/*	-fx-border-color: yellow; */
}

.piano-keyboard .piano-key {
	-fx-background-radius: 0 0 8px 8px;
	-fx-border-radius: 0 0 8px 8px;
	-fx-border-width: 0;
	-fx-border-color: grey;
}
.piano-keyboard .piano-key:hover {
	/*-fx-border-color: yellow;*/
	-fx-background-color: grey;
}
.piano-keyboard .piano-key-white {
	-fx-background-color: white;
	-fx-pref-width: 72px;
	-fx-pref-height: 465px;
}
.piano-keyboard .piano-key-black {
	-fx-background-color: black;
	-fx-pref-width: 48px;
	-fx-pref-height: 309px;
}